.site-footer {
  border-top: 1px solid var(--card-border);
  background: #fff;
  padding: 0;
  color: black;
  height: 1000px;
}

.contacts-card {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background: #fff;
  color: #111;
  padding: 27px 38px;
}

.contacts-layout {
  display: grid;
  grid-template-columns: 0.5fr auto;
  gap: 26px;
  align-items: start;
}

.contacts-title {
  display: inline-block;
  font-size: clamp(29px, 2.4vw, 72px);
  font-weight: 700;
  border-bottom: 2px solid rgba(var(--hot-rgb), 1);
  margin-bottom: 22px;
  color: var(--mint);
}

.contacts-row {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.contacts-icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contacts-icon svg {
  width: 24px;
  height: 24px;
  fill: rgba(var(--hot-rgb), 1);
  stroke: none;
}

.contacts-text {
  font-size: 15px;
  line-height: 1.7;
}

.contacts-text p {
  margin: 0;
}

.contacts-text a {
  color: #111;
  text-decoration: none;
  display: inline-block;
}

.contacts-text a + a {
  margin-top: 4px;
}

.contacts-row:first-of-type .contacts-text a {
  border-bottom: 2px solid rgba(var(--hot-rgb), 1);
}

.contacts-right iframe {
  border-radius: 12px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .contacts-text {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .contacts-card {
    padding: 28px 22px;
  }


  .contacts-layout {
    grid-template-columns: 1fr;
  }

  .contacts-row {
    margin-top: 22px;
  }

  .contacts-icon,
  .contacts-icon svg {
    width: 24px;
    height: 24px;
  }

}

@media (max-width: 768px) {
  .contacts-text {
    font-size: 19px;
  }
}

@media (max-width: 600px) {
  .contacts-title {
    font-size: 16px;
  }
}
